form {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 500px;  
  gap:10px;
}

input {
  width:300px;
  padding: 14px 20px;
  border: 0.5px solid #919ba67c;
  border-radius: 15px;
  font-size: 16px; 
  box-shadow: 0 4px 4px rgb(108, 103, 103);   
}

input:focus {
  border-color: #2C77B2;
  outline: none;
  box-shadow: 0 4px 8px rgba(44, 119, 178, 0.4);  
}

input::placeholder {
  color: #A9A9A9;
  font-style: italic; 
}

button {
  background-color: transparent;  
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 40px; 
  transform: rotateY(180deg);
}

button:hover { 
  transform: scale(1.4);   
}
 
